# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
/.angular/cache

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs
.idea/
.vscode/
*.sublime-workspace

# Misc
.env
.env*
!.env.example

# System
.DS_Store
Thumbs.db
